[submodule "chia-blockchain-gui"]
	path = chia-blockchain-gui
	url = https://gitee.com/ndcc/chia-blockchain-gui.git
	branch = main
[submodule "mozilla-ca"]
	path = mozilla-ca
	url = https://gitee.com/ndcc/mozilla-ca.git
